In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"weight-height.csv")
df.drop(["Weight"],axis=1,inplace=True)
df.head(5)

  Gender     Height
0   Male  73.847017
1   Male  68.781904
2   Male  74.110105
3   Male  71.730978
4   Male  69.881796

##  IQR
* Q1 = 25th Persentile
* Q2 = 75th Persentile
* 
#### IQR = Q3 - Q1
#### lower_limit  = Q1 - 1.5*IQR
#### upper_limit  = Q3 + 1.5*IQR

In [4]:
Q1 = df.Height.quantile(0.25)
Q3 = df.Height.quantile(0.75)
print(Q1,Q3)

63.505620481218955 69.1742617268347

In [5]:
IQR = Q3 - Q1
IQR

5.668641245615746

In [6]:
lower_limit  = Q1 - 1.5*IQR
upper_limit  = Q3 + 1.5*IQR
print(lower_limit,upper_limit)

55.00265861279534 77.67722359525831

In [9]:
outliers = df[(df.Height>upper_limit) | (df.Height < lower_limit)]
outliers.shape

(8, 2)

In [10]:
outliers

      Gender     Height
994     Male  78.095867
1317    Male  78.462053
2014    Male  78.998742
3285    Male  78.528210
3757    Male  78.621374
6624  Female  54.616858
7294  Female  54.873728
9285  Female  54.263133

In [11]:
df_new = df[(df['Height']<upper_limit) & (df['Height']>lower_limit)]
print("with outliers shape is :",df.shape)
print("without outliers shape is",df_new.shape)

with outliers shape is : (10000, 2)
without outliers shape is (9992, 2)