In [1]:
import pandas as pd

In [2]:
import seaborn as sn

In [5]:
df1 = pd.read_csv("HR.csv")
df1.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
Department_Names = df1.Department.unique()

In [7]:
Department_Names

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [8]:
df1.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Department', 'salary'],
      dtype='object')

In [9]:
def no_of_emp_dep():
    
    sales            = df1[df1['Department'] == 'sales']
    accounting       = df1[df1['Department'] == 'accounting']
    hr               = df1[df1['Department'] == 'hr']
    technical        = df1[df1['Department'] == 'technical']
    support          = df1[df1['Department'] == 'support']
    management       = df1[df1['Department'] == 'management']
    IT               = df1[df1['Department'] == 'IT']
    product_mng      = df1[df1['Department'] == 'product_mng']
    marketing        = df1[df1['Department'] == 'marketing']
    RandD            = df1[df1['Department'] == 'RandD']
    
    print('Number of Employies in sales          : ',len(sales))
    print('Number of Employies in accounting     : ',len(accounting))
    print('Number of Employies in hr             : ',len(hr))
    print('Number of Employies in technical      : ',len(technical))
    print('Number of Employies in support        : ',len(support))
    print('Number of Employies in management     : ',len(management))
    print('Number of Employies in IT             : ',len(IT))
    print('Number of Employies in product_mng    : ',len(product_mng))
    print('Number of Employies in marketing      : ',len(marketing))
    print('Number of Employies in RandD          : ',len(RandD))

In [10]:
no_of_emp_dep()

Number of Employies in sales          :  4140
Number of Employies in accounting     :  767
Number of Employies in hr             :  739
Number of Employies in technical      :  2720
Number of Employies in support        :  2229
Number of Employies in management     :  630
Number of Employies in IT             :  1227
Number of Employies in product_mng    :  902
Number of Employies in marketing      :  858
Number of Employies in RandD          :  787

In [ ]:
df1.salary.unique()

In [ ]:
def no_of_emp_sal():
    High_Salary = df1[df1['salary']=='high']
    Medium_Salary = df1[df1['salary']=='medium']
    Low_Salary = df1[df1['salary']=='low']

    print('Number of Employies with High Salary     : ',len(High_Salary))
    print('Number of Employies with Medium Salary   : ',len(Medium_Salary))
    print('Number of Employies with Low Salary      : ',len(Low_Salary))

In [ ]:
no_of_emp_sal()

In [ ]:
sn.countplot(data=df1,x='salary')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
no_of_emp_dep()

In [ ]:
plt.figure(figsize=(15,5))
sn.countplot(data=df1,x='Department')

In [ ]:
plt.figure(figsize=(15,5))
sn.countplot(data=df1,x='salary',hue='Department')

In [ ]:
sn.heatmap(df1.isnull(),yticklabels=False)

In [11]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
#label.fit_transform(df1.Department)

In [12]:
df1['Department_Encoders'] = label.fit_transform(df1.Department)

In [13]:
df1.Department.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [15]:
df1.Department_Encoders.unique()

array([7, 2, 3, 9, 8, 4, 0, 6, 5, 1])

In [16]:
df1

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,Department_Encoders
0,0.38,0.53,2,157,3,0,1,0,sales,low,7
1,0.80,0.86,5,262,6,0,1,0,sales,medium,7
2,0.11,0.88,7,272,4,0,1,0,sales,medium,7
3,0.72,0.87,5,223,5,0,1,0,sales,low,7
4,0.37,0.52,2,159,3,0,1,0,sales,low,7
...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low,8
14995,0.37,0.48,2,160,3,0,1,0,support,low,8
14996,0.37,0.53,2,143,3,0,1,0,support,low,8
14997,0.11,0.96,6,280,4,0,1,0,support,low,8
14998,0.37,0.52,2,158,3,0,1,0,support,low,8

In [17]:
l1=df1['Department_Encoders'].unique()
l2=df1['Department'].unique()
d=dict(list(zip(l1,l2)))
d

{7: 'sales',
 2: 'accounting',
 3: 'hr',
 9: 'technical',
 8: 'support',
 4: 'management',
 0: 'IT',
 6: 'product_mng',
 5: 'marketing',
 1: 'RandD'}

In [ ]:
label.fit_transform(df1.salary)

In [18]:
df1['salary_labels'] = label.fit_transform(df1.salary)

In [ ]:
no_of_emp_sal()

In [ ]:
df1.corr()

In [ ]:
df1.isnull().sum()

In [ ]:
df1

In [19]:
x = df1.drop(["salary","Department","salary_labels"],axis = 1)


y = df1.salary_labels

In [20]:
x

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_Encoders
0,0.38,0.53,2,157,3,0,1,0,7
1,0.80,0.86,5,262,6,0,1,0,7
2,0.11,0.88,7,272,4,0,1,0,7
3,0.72,0.87,5,223,5,0,1,0,7
4,0.37,0.52,2,159,3,0,1,0,7
...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,8
14995,0.37,0.48,2,160,3,0,1,0,8
14996,0.37,0.53,2,143,3,0,1,0,8
14997,0.11,0.96,6,280,4,0,1,0,8
14998,0.37,0.52,2,158,3,0,1,0,8

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =   train_test_split(x,y,test_size = 0.2,random_state = 2)

In [22]:
print(len(x_train))
print(len(x_test))
print(x_train.shape)
print(y_test.shape)

11999
3000
(11999, 9)
(3000,)

In [23]:
from sklearn.linear_model import LogisticRegression
reg1 = LogisticRegression()

In [24]:
reg1.fit(x_train,y_train)

c:\users\abishake\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
reg1.predict(x_test)

array([2, 1, 2, ..., 2, 1, 1])

In [26]:
reg1.score(x_train,y_train)

0.504708725727144

In [27]:
reg1.score(x_test,y_test)

0.49066666666666664

In [ ]:
y_predicted = reg1.predict(x_test)
y_predicted

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report
cm = confusion_matrix(y_test,y_predicted)
cm

In [ ]:
plt.figure(figsize=(8,5))
sn.heatmap(cm,annot = True,fmt='d')
plt.ylabel("PREDICTED")
plt.xlabel("TRUTH_OR_ACTUAL_VALUE")

In [ ]:
print(classification_report(y_test,y_predicted))

## Task : do it with dummies  . .

In [ ]:
df1 = pd.read_csv("HR.csv")
df1.head(5)

In [ ]:
Dep_Dummies=pd.get_dummies(df1.Department)
sal_dummies=pd.get_dummies(df1.salary)

In [ ]:
Dep_Dummies

In [ ]:
df1=pd.concat([df1,Dep_Dummies,sal_dummies],axis=1)

In [ ]:
df1

###  Logistic regression ?

### for  prediction we use dummies for training . and we apply labelencoder on target value.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

In [ ]:
irs= load_iris()

In [ ]:
dir(irs)

In [ ]:
irs.feature_names

In [ ]:
irs.target

In [ ]:
irs.target_names

In [ ]:
df = pd.DataFrame(irs.data,columns=irs.feature_names)
df.sample(7)

In [ ]:
df["Target"] = irs.target

In [ ]:
df

In [ ]:
flower_names = []
for i in irs.target:
    flower_names.append(irs.target_names[i])
flower_names

In [ ]:
df["Flower_name"] = flower_names
df.sample(15)

In [ ]:
pd.get_dummies(df.Flower_name)

## Prediction :